/home/avery/IntelliJ Projects/TVGuide/.idea
/home/avery/IntelliJ Projects/TVGuide/.idea/modules.xml
/home/avery/IntelliJ Projects/TVGuide/.idea/misc.xml
/home/avery/IntelliJ Projects/TVGuide/.idea/TVGuide.iml
/home/avery/IntelliJ Projects/TVGuide/.idea/vcs.xml
/home/avery/IntelliJ Projects/TVGuide/.idea/workspace.xml
/home/avery/IntelliJ Projects/TVGuide/out